<div class="register-page">
    <div class="register-page-area">
        <h1>Register</h1>
        <div class="register-main-page">
            <div>
                <input type="text" name="user" placeholder="user"/>
                <input type="password" name="password" placeholder="password" required="required"/>
                <input type="password" name="password" placeholder="password" required="required"/>
                <input type="password" name="password" placeholder="password" required="required"/>
            </div>
            <div>
                <input type="text" name="user" placeholder="user"/>
                <input type="password" name="password" placeholder="password" required="required"/>
                <input type="password" name="password" placeholder="password" required="required"/>
                <input type="password" name="password" placeholder="password" required="required"/>
            </div>
            <div>
                <input type="text" name="user" placeholder="user"/>
                <input type="password" name="password" placeholder="password" required="required"/>
                <input type="password" name="password" placeholder="password" required="required"/>
                <input type="password" name="password" placeholder="password" required="required"/>
            </div>
            <div>
                <input type="text" name="user" placeholder="user"/>
                <input type="password" name="password" placeholder="password" required="required"/>
                <input type="password" name="password" placeholder="password" required="required"/>
                <input type="password" name="password" placeholder="password" required="required"/>
            </div>
        </div>
        <button >Register</button>
    </div>
</div>
