<div class="footer">
    <div class="footer-section">
        <div class="footer-section-item">
            <h2>E-Tech Technology cmponey</h2>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            </p>
        </div>
        <div class="footer-section-item">
            <h3>News</h3>
            <p>About Us</p>
            <p>Technology</p>
            <p>IT solution</p>
            <p></p>
        </div>
        <div class="footer-section-item">
            <h3>Contact</h3>
            <p>Phone: +1122334444</p>
            <p>Email: e-tech@gmail.com</p>
            <p>Facebook: facebook.com/E-tech</p>
            <p>LinkedIn: linkedin/E-tech</p>
        </div>
        <div class="footer-section-item">
            <h3>Support</h3>
            <p>FAQ</p>
            <p>Privacy and security</p>
            <p>Setting</p>
        </div>
    </div>
    <div class="copy-right">
        <p>Copyright ©2021 All rights reserved</p>
    </div>
</div>
