.login-page{
    width: 100%;
}
.log{
display: flex;
flex-direction: column;
position: relative;
box-shadow: 1px 1px 5px  rgba(0,0,0,0.3);
background: #ffffff;
width: 400px;
padding: 30px 20px;
top: 60%;
left: 50%;
transform: translate(-50%,-50%);
text-align: center;
opacity: 0.8;
border-radius: 10px;
margin-bottom: 50px;
}
.log input[type="text"],.log input[type="password"]{
border: 0;
background: none;
display: black;
margin:20px auto;
text-align: center;
border: 2px solid orange ;
padding: 14px 10px;
outline: none;
color: black;
border-radius: 60px;
transition: 0.25s;

}
.log h1{
color: orange;
text-transform:uppercase;
font-weight: 500;
}
.log input[type="text"]:focus,.log input[type="password"]:focus{
width: 280px;
border-color: orange;
}

.log button{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid orange;
    padding: 14px 40px;
    outline: none;
    color: orange;
    border-radius: 24px;
    transition:24px;
    transition :0.25s;
    cursor: pointer;
    text-decoration: none;
}
.log button:hover{
background: orange;
color: #ffffff; 
}
::placeholder {
color: orange;
opacity: 1; 
}